<span class="title">{{name}}</span>
<p class="description">{{description}}</p>
<p class="indentify">ID: {{id}}</p>
<div class="actions">
    <p class="pref">
        {{price}}$
    </p>
    <a class="accept" href="/product-edit?id={{id}}">
        Редагувати
    </a>
</div>